.columns{
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
	/*column-gap: 40px;
	column-rule-style: solid;
	column-width: 100px;*/
}